In [25]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
import pandas as pd

In [26]:
data=pd.read_csv("D:\\Social_Network_Ads (1).csv")
data

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [27]:
sc=StandardScaler()
data['EstimatedSalary']=sc.fit_transform(data[['EstimatedSalary']])
data

     Age  EstimatedSalary  Purchased
0     19        -1.490046          0
1     35        -1.460681          0
2     26        -0.785290          0
3     27        -0.374182          0
4     19         0.183751          0
..   ...              ...        ...
395   46        -0.844019          1
396   51        -1.372587          1
397   50        -1.460681          1
398   36        -1.078938          0
399   49        -0.990844          1

[400 rows x 3 columns]

In [28]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=21)

In [30]:
svm=SVC(kernel='linear')
svm.fit(x_train,y_train)
y_pred=svm.predict(x_test)

In [31]:
acc=accuracy_score(y_test,y_pred)
acc

0.875

In [32]:
svm2=SVC(kernel='rbf')
svm2.fit(x_train,y_train)
y_pred3=svm2.predict(x_test)

In [33]:
acc3=accuracy_score(y_test,y_pred3)
acc3

0.8875